---
import "../styles/global.css";
import Header from "../components/Global/Header/Header.tsx";

interface LayoutProps {
  lang: "en" | "no";
  pageTitle: string;
}

// Get language from URL params (default to Norwegian)
// const lang = (Astro.params.lang || "no") as "no" | "en";

// Props from the parent
const { pageTitle, lang } = Astro.props as LayoutProps;

// Load the correct translation file dynamically
const baseLayoutTranslations = await import(`../locales/${lang}/baseLayout.json`);
---


<html lang={lang}>
  <head>
    <title>Sortify - {pageTitle}</title>
  </head>
  <body>
    <Header lang={lang} translations={baseLayoutTranslations} />
    <div class="main-content"> 
      <slot />
    </div>
  </body>
</html>